{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    {
      "path": "@semantic-release/git",
      "assets": ["CHANGELOG.md", "pom.xml", "Dockerfile", "VERSION"]
    },
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sh ./update_files.sh ${nextRelease.version}"
      }
    ]
  ]
}
